// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #01b8aa;
  --ion-color-primary-rgb: 1,184,170;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #01a296;
  --ion-color-primary-tint: #1abfb3;

  --ion-color-secondary: #28383c;
  --ion-color-secondary-rgb: 40,56,60;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #233135;
  --ion-color-secondary-tint: #3e4c50;

  --ion-color-tertiary: #fd625e;
  --ion-color-tertiary-rgb: 253,98,94;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #df5653;
  --ion-color-tertiary-tint: #fd726e;


    --ion-color-success: #a0d468;
    --ion-color-success-rgb: 160,212,104;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #8dbb5c;
    --ion-color-success-tint: #aad877;
  
    --ion-color-warning: #ffce54;
    --ion-color-warning-rgb: 255,206,84;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0b54a;
    --ion-color-warning-tint: #ffd365;
  
    --ion-color-danger: #ed5565;
    --ion-color-danger-rgb: 237,85,101;
    --ion-color-danger-contrast: #000000;
    --ion-color-danger-contrast-rgb: 0,0,0;
    --ion-color-danger-shade: #d14b59;
    --ion-color-danger-tint: #ef6674;
  
    --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #aab2bd;
  --ion-color-medium-rgb: 170,178,189;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #969da6;
  --ion-color-medium-tint: #b3bac4;


  
    --ion-color-light: #f5f7fa;
    --ion-color-light-rgb: 245,247,250;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #d8d9dc;
    --ion-color-light-tint: #f6f8fb;
  
    --ion-color-white: #ffffff;
    --ion-color-darkgrey: #434a54;
  --ion-color-darkbk: #000;//#16253d;
    --ion-color-pink:#ed145b;
}
@font-face {
  font-family: 'JosefinSans';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/JosefinSans-Regular.ttf');
}
@font-face {
  font-family: 'TallDark';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/talldark.ttf');
}
@font-face {
  font-family: 'Sansation';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Sansation-Regular.ttf');
}
:root{
--ion-font-family: 'Sansation','Open Sans', sans-serif;
//@extend:'JosefinSans', sans-serif !important;
}
ion-menu {
  // --background: linear-gradient(to top, #000 0%, #aab2bde2 100%) ;
  //--background:linear-gradient(to top, #000 0%, #000000ed 100%) ;
  //background-image:url('../assets/imgs/soccer.jpg') ;
  background-size: cover;
--background:var(--ion-color-dark);
  }
  .split-pane-md.split-pane-visible>.split-pane-side {
    min-width: 175px;
    max-width: 10%;
    border-right: var(--border);
    border-left: 0;
    
}


  ion-list {/* optional, but it needs when you use gradient as a background color.*/
    --ion-background-color: transparent;
  }

  .modal-class .modal-wrapper {
    width: 80%;
    position: absolute; 
    display: block;  
 }


 

 
